* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Anek Latin", sans-serif;
}
body {
  overflow-x: hidden;
}
.moon-man-and-you-need {
  background: #202020;
}
.block-16px {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 56px 16px;
}
.moon-man-img {
  display: flex;
  align-items: center;
  justify-content: center;
  order: 1;
}
.content-you-need {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tittle-you-need {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  color: #fbfaf6;
}
.check-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  margin-bottom: 40px;
}
.check-arrow-and-text {
  display: flex;
  font-weight: 600;
  font-size: 22px;
  line-height: 150%;
  color: #fbfaf6;
}
.check-arrow-and-text p {
  margin: 0;
}
.check-arrow-and-text span {
  color: rgba(254, 97, 80, 1);
}
.check-arrow {
  display: block;
  margin-right: 16px;
  height: fit-content;
}
.btn-ready {
  display: flex;
  align-items: center;
  padding: 20px 119px;
  background: #fe6150;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #fbfaf6;
  cursor: pointer;
}
.btn-ready img {
  margin-left: 8px;
}
/* @MEDIA */
@media screen and (min-width: 768px) {
  .block-16px {
    padding: 64px 160px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .content-you-need {
    align-items: flex-start;
  }
  .tittle-you-need {
    font-size: 48px;
  }
  .btn-ready {
    padding: 20px 45px;
    width: 200px;
  }
}
