* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Anek Latin", sans-serif;
}
.block-6 {
  padding: 56px 16px;
  background: #202020;
}
.contentBlock-6 {
  align-items: center;
}
.tittleBlock-6 {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  color: #fbfaf6;
}
.checkList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 22px;
  line-height: 150%;
  color: #fbfaf6;
}
.checkList p {
  margin: 0;
}
.checkList span {
  color: rgba(254, 97, 80, 1);
}
.checkArrow {
  margin-right: 10px;
  max-width: 100px;
}
.btnReady {
  padding: 20px 119px;
  background: #fe6150;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #fbfaf6;
  cursor: pointer;
}
/* @MEDIA */
@media screen and (min-width: 414px) {
}
