* {
  font-family: "Anek Latin", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  overflow-x: hidden;
}

/* MAIN CONTENT */
.initial-block {
  background: #202020;
  padding: 0px 16px;
  background-image: url("./bg_grid_mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fbfaf6;
}
.invest-10-steps {
  padding-top: 32px;
}
.invest-10-steps-title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
}
.freeEducation {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #fbfaf6;
}
.usefulness-100 {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fbfaf6;
  margin-bottom: 40px;
}
.invest-10-steps-title span,
.freeEducation span,
.usefulness-100 span {
  color: #fe6150;
}
.button-sort {
  display: block;
  margin: auto;
  padding: 20px 94.5px;
  background: #fe6150;
  border-radius: 10px;
  border: none;
  text-align: center;
  color: #fbfaf6;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  width: 100%;
}
.img-block {
  margin-top: 46.9px;
  display: flex;
  justify-content: center;
}

/* @MEDIA */
@media screen and (min-width: 414px) {
  .initial-block {
    padding: 32px 34px;
  }
  .list {
    display: flex;
    justify-content: space-between;
  }
  .burger-menu {
    display: none;
  }
  .main-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0px 126px 123.45px 126px;
  }
  .invest-10-steps {
    width: 555px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .tittle-1 {
    width: 423px;
    font-size: 48px;
  }
  .freeEducation {
    font-size: 24px;
  }
  .usefulness-100 {
    font-size: 18px;
  }
  .button-sort {
    margin: 0;
    padding: 20px 30px;
  }
}
