* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Anek Latin", sans-serif;
}
.content-still-have-doubts {
  background: #5058f6;
  background-image: url("./left-big-traingle.png");
  background-position: left;
  background-repeat: no-repeat;
}
.block-16px {
  margin: 0 auto;
  padding: 56px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.informative-block {
  color: #fbfaf6;
  text-align: center;
}
.informative-block h1 {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
}
.informative-block p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
.mobile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  background: #fbfaf6;
  border: 2px solid #363dc4;
  box-shadow: -4px 5px 0px #363dc4;
  border-radius: 16px;
}
.mobile-tittle {
  margin-top: 24px;
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
  text-align: center;
  color: #202020;
}
.card-interactive {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 24px;
  margin: 24px;
}
.answer-item {
  padding: 16px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 16px 16px 2px 2px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #202020;
}
.answer-item:not(:last-child) {
  margin-bottom: 4px;
}
.midle-answer {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 2px;
}
.answer-item span {
  margin-right: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #5058f6;
}
.btn-next {
  padding: 12px 43px;
  background: #5058f6;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #fbfaf6;
  cursor: pointer;
}

/* @MEDIA */
@media screen and (min-width: 768px) {
  .block-16px {
    padding: 64px 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .informative-block {
    width: 500px;
  }
  .informative-block h1 {
    font-size: 48px;
  }
  .informative-block p {
    font-size: 18px;
    width: 450px;
  }
  .mobile-card {
    width: 500px;
  }
}
