* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Anek Latin", sans-serif;
}
.block-7 {
  padding: 56px 16px;
  background: #5058f6;
}
.imgBlock-7 {
  opacity: 0.1;
  position: relative;
  left: 0;
  top: 0;
}
.contentBlock-7 {
  margin-bottom: 40px;
  color: #fbfaf6;
  text-align: center;
}
.contentBlock-7 h1 {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
}
.contentBlock-7 p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
.mobileCard {
  padding: 24px;
  background: #fbfaf6;
  border: 2px solid #363dc4;
  box-shadow: -4px 5px 0px #363dc4;
  border-radius: 16px;
}
.mobileTittle {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
  text-align: center;
  color: #202020;
}
.cardInteractive {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px;
  gap: 24px;
}
/* .answersMobile {
  padding: 16px;
} */
.answerItem {
  padding: 16px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 16px 16px 2px 2px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #202020;
}
.answerItem:not(:last-child) {
  margin-bottom: 4px;
}
.midleAnswer {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 2px;
}
.answerItem span {
  margin-right: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #5058f6;
}
.BtnNext {
  padding: 12px 43px;
  background: #5058f6;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #fbfaf6;
  cursor: pointer;
}
/* @MEDIA */
@media screen and (min-width: 414px) {
  .block-7 {
    padding: 64px 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .imgBlock-7 {
    display: none;
  }
  .contentBlock-7 h1 {
    font-size: 48px;
  }
  .contentBlock-7 p {
    font-size: 18px;
  }
  .mobileCard {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
