* {
  font-family: "Anek Latin", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}
body {
  overflow-x: hidden;
}
.educational-bot-wrapper {
  background-color: rgba(80, 88, 246, 1);
  background-image: url("./traingles.png"), url("./traingles-lower.png");
  background-position: top left, right bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
}
.block-16px {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0 16px 56px;
  max-width: 530px;
}
.block-telephones {
  margin-top: 55px;
  padding-bottom: 24px;
  display: flex;
  justify-content: center;
}
.block-telephones img {
  width: 90%;
  height: auto;
  object-fit: contain;
}
/* TEXTBLOCK - 2 */
.block-bukksy-education {
  margin-bottom: 56px;
}
.block-bukksy-education h2 {
  margin-top: 25px;
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: #fbfaf6;
}
.block-bukksy-education p {
  font-size: 16px;
  line-height: 150%;
  color: #fbfaf6;
}
.simple-investment-helper {
  padding: 24px;
  margin-bottom: 40px;
  background: #fbfaf6;
  border: 2px solid #363dc4;
  box-shadow: -4px 5px 0px #363dc4;
  border-radius: 16px;
}
.simple-investment-helper p {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #5058f6;
}
.learning-can-hard {
  margin-top: 24px;
  margin-bottom: 24px;
}
.btn-open-bot {
  display: block;
  width: 100%;
  padding: 20px 114px;
  background: #f7c744;
  border: 2px solid #363dc4;
  box-shadow: -3px 3px 0px #363dc4;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  color: #363dc4;
  text-decoration: none;
  cursor: pointer;
}
.btn-open-bot img {
  margin-left: 8px;
}
/* @MEDIA */
@media screen and (min-width: 768px) {
  .block-16px {
    flex-direction: row;
    justify-content: space-around;
    padding: 80px 160px;
    max-width: 1120px;
    align-items: center;
    padding: 98px 32px 107px;
  }
  .block-telephones img {
    width: 100%;
  }

  .block-bukksy-education {
    width: 50%;
  }
  .block-bukksy-education h2 {
    font-size: 36px;
    /* width: 435px; */
  }
  .block-bukksy-education p {
    font-size: 18px;
  }
  .btn-open-bot {
    width: 200px;
    padding: 20px 36px;
    align-items: center;
  }
}
