.initial-block {
  background: #202020;
  background-image: url("../../images/bg_grid.png");
  background-repeat: no-repeat;
  background-size: auto;
  color: #fbfaf6;
}
.block-16px {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 16px;
  max-width: 530px;
}

@media screen and (min-width: 768px) {
  .block-16px {
    flex-direction: row;
    max-width: 1120px;
    justify-content: space-around;
    align-items: center;
    padding: 98px 32px 107px;
  }
}