* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Anek Latin", sans-serif;
}
.footer {
  padding: 64px 16px;
  background: #202020;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-logo-contact {
  margin-bottom: 99px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-logo-contact img {
  margin-bottom: 30px;
}
.email-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fbfaf6;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.email-contact h6 {
  margin-bottom: 16px;
  opacity: 0.6;
}
.text-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #fbfaf6;
  opacity: 0.6;
}
