* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Anek Latin", sans-serif;
}
.footer {
  background: #202020;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.bakksy-info {
  margin: 10px 16px 96px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.path-finder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 40px;
}
.path-finder a {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #fbfaf6;
  text-decoration: none;
}
.path-finder a:not(:last-child) {
  margin-right: 32px;
}
.socials {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.socials p {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: rgba(251, 250, 246, 0.6);
}
.media-links {
  display: flex;
  flex-direction: row;
}
.media-links a:not(:last-child) {
  margin-right: 21px;
}
.bakksy-copyright {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 16px 48px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(251, 250, 246, 0.6);
}
.clear-connect {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.clear-connect a {
  margin-top: 32px;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(251, 250, 246, 0.6);
}
.clear-connect a:not(:last-child) {
  margin-right: 16px;
}
/* @MEDIA  */
@media screen and (min-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    padding: 0 165px 48px;
  }
  .bakksy-info {
  }
  .bakksy-copyright p {
    width: 525px;
  }
}
