* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Anek Latin", sans-serif;
}
.wrapper-get-ready {
  background-color: rgba(153, 98, 246, 1);
  background-image: url("./left-traingle.png"), url("./right-traingle.png");
  background-position: top left, right bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: inherit, inherit;
}
.block-16px {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 56px 16px;
  margin: 0 auto;
  max-width: 530px;
}
.lower-triangle {
  position: relative;
  bottom: -56px;
  left: -13px;
  opacity: 0.1;
}
.content-tittle-and-paragraph {
  margin-bottom: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tittle-ready-for {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  text-align: center;
  color: #fbfaf6;
}
.paragraph-with-our {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #fbfaf6;
}
.four-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  gap: 16px;
}
.item-card {
  padding: 24px;
  background: #f7c744;
  border: 2px solid #663dab;
  box-shadow: -4px 5px 0px #663dab;
  border-radius: 16px;
  color: #202020;
  line-height: 150%;
}
/* .item-card:not(:last-child) {
  margin: 16px;
} */
.title-card {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 22px;
}
.text-card {
  font-weight: 400;
  font-size: 16px;
}

/* @MEDIA */
@media screen and (min-width: 768px) {
  .block-16px {
    padding: 64px 165px;
    max-width: 1120px;
  }
  .tittle-ready-for {
    font-size: 48px;
  }
  .paragraph-with-our {
    font-size: 18px;
    width: 572px;
  }
  .upper-triangle,
  .lower-triangle {
    display: none;
  }
  .four-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 16px;
  }
  .item-card {
    width: 370px;
  }
}
