.wrapper {
  background: #202020;
  background-image: url("../../images/bgGrid.png");
  background-repeat: no-repeat;
  background-size: auto;
}

.threeImgMobile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.threeImgMobile img {
  width: 90%;
  height: auto;
  object-fit: contain;
}
.wrapperWhatBukksy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contentBakksy {
  display: flex;
  flex-direction: column;
}

.bakksyInvestmentApp {
  margin-bottom: 32px;
}

.bakksyInvestmentApp h1 {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  color: #fbfaf6;
}

.bakksyInvestmentApp p {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #fbfaf6;
}

.twoParagraphsOfBakksy {
  margin-bottom: 40px;
  color: #fbfaf6;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.twoParagraphsOfBakksy ul {
  margin: 16px 0 16px 25px;
}

.btnInvestment {
  display: flex;
  align-items: center;
  padding: 20px 16px;
  background: #fe6150;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #fbfaf6;
  cursor: pointer;
}
.btnInvestment img {
  margin-left: 8px;
}
/* @MEDIA  */
@media screen and (min-width: 768px) {
  .threeImgMobile {
    order: 2;
  }

  .threeImgMobile img {
    width: 100%;
  }

  .wrapperWhatBukksy {
    align-items: flex-start;
  }

  .bakksyInvestmentApp h1 {
    font-size: 48px;
  }

  .bakksyInvestmentApp p {
    width: 565px;
    font-size: 24px;
  }

  .twoParagraphsOfBakksy {
    font-size: 18px;
    width: 605px;
  }

  .btnInvestment {
    padding: 20px 35px;
  }
}
