* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Anek Latin", sans-serif;
}
.centered-flex-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #202020;
}
.three-img-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 81px 16px 50px;
}
.wrapper-what-bukksy {
  margin: 0 16px 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content-bakksy {
  display: flex;
  flex-direction: column;
}
.bakksy-investment-app {
  margin-bottom: 32px;
}
.bakksy-investment-app h1 {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  color: #fbfaf6;
}
.bakksy-investment-app p {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #fbfaf6;
}
.two-paragraphs-of-bakksy {
  width: 345px;
  margin-bottom: 40px;
  color: #fbfaf6;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
.two-paragraphs-of-bakksy ul {
  margin: 16px 0 16px 25px;
}
.btn-investment {
  display: flex;
  align-items: center;
  padding: 20px 90px;
  background: #fe6150;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #fbfaf6;
  cursor: pointer;
}
.btn-investment img {
  margin-left: 8px;
}
/* @MEDIA  */
@media screen and (min-width: 768px) {
  .centered-flex-box {
    padding: 64px 160px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .three-img-mobile {
    order: 2;
  }
  .wrapper-what-bukksy {
    align-items: flex-start;
  }
  .bakksy-investment-app h1 {
    font-size: 48px;
  }
  .bakksy-investment-app p {
    width: 565px;
    font-size: 24px;
  }
  .two-paragraphs-of-bakksy {
    font-size: 18px;
    width: 605px;
  }
  .btn-investment {
    padding: 20px 35px;
  }
}
