.wrapper {
  display: flex;
  align-items: center;
  background: #1a1a1a;
  background-image: url("../../images/upperStarts.png"),
    url("../../images/lowerStarts.png");
  background-repeat: repeat-x, repeat-x;
  background-position: top, bottom;
  padding-top: 80px;
  padding-bottom: 80px;
}

.content-you-get h1 {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  color: #fbfaf6;
}

.content-you-get h6 {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #f7c744;
}

.secret-free {
  margin: 16px 0;
  padding: 8px 10px;
  background: #fe6150;
  border-radius: 6px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #fbfaf6;
}

.content-you-get p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fbfaf6;
}

.certificate {
  margin-top: 28px;
}

.certificate img {
  width: 100%;
}

/* @MEDIA */
@media only screen and (min-width: 768px) {
  .wrapper {
    padding: 97.5px 98px;
    justify-content: space-around;
    background-image: url("../../images/upperStartsDekstop.png"),
      url("../../images/lowerStartsDekstop.png"),
      url("../../images/leftStartsDekstop.png"),
      url("../../images/rightStartsDekstop.png");
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-position: top, bottom, left, right;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .content-you-get {
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 53px;
    padding-bottom: 53px;
  }

  .secret-free {
    max-width: 401px;
    padding: 8px 16px;
    font-size: 18px;
  }

  .content-you-get {
    width: 545px;
    order: 2;
  }

  .certificate {
    width: 350px;
    height: 420px;
    padding: 20px;
    order: 1;
  }

  .certificate img {
    height: 100%;
    object-fit: contain;
    margin-right: 12vw;
    transform: rotate(-4.03deg);
  }
}
