.header {
  background: #202020;
  background-image: url("../../images/bgGrid.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.languageSwitch {
  color: #fbfaf6;
  background-color: #202020;
}

.languageSwitchBtn {
  padding: 4px;
  border: 1.5px solid #fbfaf6;
  border-radius: 4px;
  font-weight: 600;
  font-size: 12px;
  line-height: 13px;
  text-align: center;
  background: #202020;
  cursor: pointer;
  text-transform: uppercase;
  color: #fbfaf6;
}

.languageSwitch img {
  margin-right: 5px;
}

/* @MEDIA */
@media screen and (min-width: 768px) {
  .desktopMenu {
    display: flex;
    align-items: center;
    font-size: 20px;
  }

  .desktopMenu li {
    margin-right: 20px;
  }

  .desktopMenu li:last-child {
    margin-right: 0;
  }

  .desktopMenu li {
    transition: color 0.3s ease;
  }

  .languageSwitch {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  .leaveInvestmentButton {
    margin-left: 10px;
  }
}
