* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Anek Latin", sans-serif;
}
.stars-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1a1a1a;
  background-image: url("./upper-starts.png"), url("./lower-starts.png");
  background-repeat: repeat-x, repeat-x;
  background-position: top, bottom;
  padding-top: 80px;
  padding-bottom: 80px;
}
.upper-starts,
.lower-starts {
  max-width: 100%;
}
.upper-starts-desktop,
.lower-stars-desktop,
.left-stars-desktop,
.right-stars-desktop {
  display: none;
}
.content-you-get {
  padding: 0 16px;
}
.content-you-get h1 {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  color: #fbfaf6;
}
.content-you-get h6 {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #f7c744;
}
.secret-free {
  margin: 16px 0;
  padding: 8px 10px;
  background: #fe6150;
  border-radius: 6px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #fbfaf6;
}
.content-you-get p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fbfaf6;
}
.certificate {
  padding: 28px 61.25px;
}

/* @MEDIA */
@media only screen and (min-width: 768px) {
  .stars-block {
    padding: 97.5px 98px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;

    background-image: url("./upperStartsDekstop.png"), url("./lowerStartsDekstop.png"), url("./leftStartsDekstop.png"), url("./rightStartsDekstop.png");
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-position: top, bottom, left, right;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .upper-starts,
  .lower-starts {
    display: none;
  }
  .upper-starts-desktop,
  .lower-stars-desktop,
  .left-stars-desktop,
  .right-stars-desktop {
    display: inline-block;
    position: absolute;
  }
  .upper-starts-desktop {
    top: 0;
    left: 0;
    width: 100%;
  }
  .lower-stars-desktop {
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .left-stars-desktop {
    left: 0;
    top: 0;
    height: 100%;
  }
  .right-stars-desktop {
    right: 0;
    top: 0;
    height: 100%;
  }
  .secret-free {
    width: 401px;
    padding: 8px 16px;
    font-size: 18px;
  }
  .content-you-get {
    width: 545px;
    order: 2;
  }
  .certificate {
    order: 1;
    transform: rotate(-4.03deg);
  }
}
